---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('Feb 03 2026')}
>
	<p>
		Hi! I'm <a href="https://github.com/satoshin21" target="_blank" rel="noopener noreferrer">@satoshin21</a>. I'm a software engineer.
	</p>
	<p>
		I'm writing this blog to share my daily learnings and insights.
	</p>
</Layout>
