---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('August 08 2021')}
>
	<p>
		Satoshi Nagasaka（@satoshin21）。ソフトウェアエンジニア。<br>
		日々の学びや気づきをメモするためにこのブログを書いています。
	</p>
</Layout>
